body {
  font-family: "Lato", sans-serif;
  color: #47a3da;
}

.outer-heading {
  border-style: none;
  background: #fff;
  font-size: 2.50em;
  font-weight: 300;
  padding: 1em 0 .6em .5em;
  margin-bottom: .6em;
  border-bottom: .025em solid #ddd;
}

.hide {
  display: none;
}

.hide p {
  font-size: 1.25em;
  font-weight: 300;
  color: #888;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.fa-arrow-right {
    font-weight: 200;
    color: #ddd;
}
.hide-right-arrow {
  display: none;
}

.show-right-arrow {
  display: inline;
}

.arrow-container:hover span {
  color: #47a3da;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.hide-down-arrow {
  display: none;
}

.show-down-arrow {
  display: inline;
}

.show {
  display: block;
}

h4 {
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .4em;
  padding: 1em 0 0 .5em;
  margin-bottom: 1em;
}

.fa-arrow-circle-o-right {
  font-weight: 200;
  color: #ddd;
}

h4:hover span {
  color: #47a3da;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
